.footer {
  height: 960px;
  background: @gray;
  .ft-higher {
    padding: 0 51px;
    &__title {
      font-family: "Myriad Pro Light", sans-serif;
      font-size: 40px;
      color: @white;
      text-align: center;
      line-height: 31px;
      margin: 50px 0 28px 0;
      text-transform: uppercase;
    }

    &__item {
      padding: 0 63px;
      text-align: center;
    }

    &__img {
      height: 100px;
    }

    &__text {
      font-family: "Myriad Pro Light", sans-serif;
      font-size: 40px;
      color: @white;
    }
  }

  .ft-lower {
  }
}