@import 'bootstrap.css';
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MyriadPro-Regular.woff2") format('woff2'), url("../fonts/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular.ttf") format('ttf'), url("../fonts/MyriadPro-Regular.eot") format('eot');
}
@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MyriadPro-Light.woff2") format('woff2'), url("../fonts/MyriadPro-Light.woff") format('woff'), url("../fonts/MyriadPro-Light.ttf") format('ttf'), url("../fonts/MyriadPro-Light.eot") format('eot');
}
.header {
  position: fixed;
  z-index: 1;
}
.header__wrapper {
  padding: 50px 65px 0 65px;
}
.header__logo {
  height: 52px;
}
.header .menu__nav {
  width: 100%;
}
.header .menu__ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.header .menu__link {
  font-size: 28px;
  color: #FFFFFF;
}
.header .menu__link:hover {
  text-decoration: none;
}
.header .menu__text {
  padding-top: 2px;
}
.mainwindow {
  height: 100vh;
  background: url("../img/bg.jpg") center;
  background-size: cover;
}
.mainwindow .title {
  position: absolute;
  height: fit-content;
  width: fit-content;
  font-size: 88px;
  color: #FFFFFF;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mainwindow .ticker__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 110px auto auto auto;
  height: 100vh;
  overflow-x: hidden;
}
.mainwindow .ticker__text {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  color: #FFFFFF;
  font-size: 40px;
  transition: all 0.7s;
  user-select: none;
}
.mainwindow .ticker__text_curr {
  opacity: 1;
  transform: translateX(0);
}
.mainwindow .ticker__text_next {
  opacity: 0;
  transform: translateX(900px);
}
.mainwindow .ticker__text_prev {
  opacity: 0;
  transform: translateX(-900px);
}
.mainwindow .arrow__img {
  position: fixed;
  bottom: 22px;
  left: 0;
  right: 0;
  margin: auto;
}
.mainwindow .contacts {
  position: absolute;
  height: fit-content;
  width: 448px;
  bottom: 34px;
  right: 65px;
  padding-left: 15px;
}
.mainwindow .contacts .social__ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
.mainwindow .contacts .social__img {
  height: 40px;
  transition: all 0.3s;
}
.mainwindow .contacts .social__img:hover {
  transform: scale(1.2);
}
.mainwindow .contacts__text {
  width: fit-content;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.mainwindow .contacts__text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.mainwindow .contacts__text::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.mainwindow .contacts__text_phone::before {
  margin-bottom: -9px;
  background: url("../img/cont call.svg") no-repeat center;
  background-size: contain;
  width: 22px;
  height: 32px;
}
.mainwindow .contacts__text_mail::before {
  margin-bottom: -4px;
  background: url("../img/cont email.svg") no-repeat center;
  background-size: contain;
  width: 32px;
  height: 22px;
}
.mainwindow .contacts__text_hidden {
  display: none;
}
.st_main,
.st_1,
.st_2,
.st_3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5.6693;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st_main {
  transform: translateY(-68px);
}
.st_1,
.st_2,
.st_3 {
  opacity: 0;
}
.st_main_animated {
  animation-name: main;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.st_1_animated {
  animation-name: st1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.st_2_animated {
  animation-name: st2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.st_3_animated {
  animation-name: st3;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes main {
  from {
    transform: translateY(-68px);
  }
  50% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-68px);
  }
}
@keyframes st1 {
  from {
    opacity: 0;
  }
  13% {
    opacity: 0;
  }
  26% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.5;
  }
  53% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes st2 {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  43% {
    opacity: 0.5;
  }
  56% {
    opacity: 0.5;
  }
  69% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes st3 {
  from {
    opacity: 0;
  }
  46% {
    opacity: 0;
  }
  59% {
    opacity: 0.5;
  }
  69% {
    opacity: 0.5;
  }
  76% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.second-window .design-3d {
  background: #1A1A1A;
  padding: 50px 15px 35px 65px;
  min-height: 800px;
  flex: 0 0 26.69%;
  max-width: 26.69%;
}
.second-window .design-3d__title {
  position: absolute;
  top: 47px;
  left: 65px;
  line-height: 55px;
  color: #FFFFFF;
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 66px;
}
.second-window .design-3d__text {
  padding-right: 15px;
  line-height: 25px;
  position: absolute;
  top: 128px;
  left: 65px;
  color: #FFFFFF;
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 20px;
}
.second-window .design-3d__cube {
  position: absolute;
  top: 436px;
  left: 182px;
  height: 178px;
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(0);
}
.second-window .design-3d__cube_hidden {
  opacity: 0;
  transform: translateY(-50px);
}
.second-window .design-3d__mesh {
  position: absolute;
  top: 508px;
  left: 56px;
  height: 225px;
  transition: all 0.5s;
  opacity: 1;
}
.second-window .design-3d__mesh_hidden {
  opacity: 0;
}
.second-window .what-we-make {
  background: url('../img/mazda rx8_final_alpha rend_6_1_copyright_postwork.jpg') no-repeat center;
  background-size: cover;
  min-height: 800px;
  flex: 0 0 73.31%;
  max-width: 73.31%;
}
.second-window .what-we-make__text {
  position: absolute;
  bottom: 32px;
  right: 65px;
  line-height: 20px;
  margin-bottom: 0;
  font-family: "Myriad Pro Light", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
}
.second-window .what-we-make__blur {
  position: absolute;
  padding: 50px 15px 0 14px;
  height: 800px;
  top: 0;
  left: 0;
  max-width: 31.83%;
  flex: 0 0 31.83%;
  min-height: 800px;
  background: #1A1A1AB3;
  backdrop-filter: blur(10px);
}
.second-window .what-we-make__title {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 31px;
  margin-bottom: 31px;
}
.second-window .what-we-make .service {
  margin-bottom: 38px;
}
.second-window .what-we-make .service_last {
  margin-bottom: 0;
}
.second-window .what-we-make .service__img {
  height: 66px;
  float: left;
  margin: 7px 0 0 1px;
}
.second-window .what-we-make .service__title {
  font-size: 24px;
  line-height: 16px;
  color: #FFFFFF;
  padding-left: 90px;
  margin-bottom: 14px;
}
.second-window .what-we-make .service__text {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 14px;
  color: #CCCCCC;
  line-height: 16px;
  padding-left: 90px;
  margin-bottom: 0;
}
.third-window {
  height: 800px;
}
.third-window .owl__dots {
  height: 363px;
  position: absolute;
  top: 48px;
  left: 0;
}
.third-window .owl__img {
  position: absolute;
  left: 32px;
  right: 0;
  top: 20px;
  bottom: 0;
  height: 626px;
  margin: auto;
}
.third-window .owl__pen {
  height: 234px;
  position: absolute;
  top: 501px;
  left: 49px;
}
.third-window .graph-design__dots {
  position: absolute;
  top: 21px;
  right: 162px;
  height: 85px;
}
.third-window .graph-design__border {
  position: absolute;
  top: 55px;
  right: 177px;
  height: 85px;
}
.third-window .graph-design__text {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 66px;
  position: absolute;
  top: 39px;
  right: 191px;
  line-height: 72px;
  color: #000000;
}
.third-window .graph-design-list {
  margin-top: 207px;
}
.third-window .graph-design-list__item_left {
  flex: 0 0 46.67%;
  max-width: 46.67%;
  padding: 0 15px 0 0;
}
.third-window .graph-design-list__item_right {
  flex: 0 0 53.33%;
  max-width: 53.33%;
  padding: 0 65px 0 15px;
}
.third-window .graph-design-list__img {
  height: 72px;
  float: left;
}
.third-window .graph-design-list__title {
  margin: 0 0 12px 88px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 24px;
  line-height: 18px;
  color: #000000;
}
.third-window .graph-design-list__text {
  margin: 0 0 69px 88px;
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: #4D4D4D;
}
.fourth-window {
  background-color: #F2F2F2;
  height: 800px;
}
.fourth-window .motion__bg {
  width: 444px;
  height: 111px;
  background-color: #DBFF69;
  position: absolute;
  top: 18px;
  left: 105px;
  z-index: 1;
}
.fourth-window .motion__title {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 66px;
  color: #000000;
  position: absolute;
  top: 38px;
  left: 65px;
  line-height: 72px;
  z-index: 2;
}
.fourth-window .motion-list__wrapper {
  margin: 176px 0 0 50px;
}
.fourth-window .motion-list__img {
  height: 56px;
  float: left;
}
.fourth-window .motion-list__title {
  margin: 0 0 12px 82px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 24px;
  line-height: 18px;
  color: #000000;
}
.fourth-window .motion-list__text {
  margin-left: 82px;
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: #4D4D4D;
}
.fourth-window .we-prepare__title {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 24px;
  color: #000000;
  margin-left: 65px;
}
.fourth-window .we-prepare__item {
  font-family: "Myriad Pro Light", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-left: 65px;
}
.fourth-window .fishes {
  width: 100%;
  height: auto;
}
.fourth-window .fishes__wrapper {
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad Pro Regular", sans-serif;
}
.logo {
  height: 52px;
}
.body {
  opacity: 0;
  transition: all 0.5s;
}
.body::-webkit-scrollbar-track {
  background: #1A1A1A;
}
.body::-webkit-scrollbar {
  width: 4px;
}
.body::-webkit-scrollbar-thumb {
  background: #333333;
}
.centered-elements {
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  webkit-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
}
.centered-elements__element {
  display: inline-block;
  display: -webkit-box;
}
/*# sourceMappingURL=style.css.map */