{% load static %}
<div class="container-fluid footer">
    <div class="row ft-higher">
        <div class="col-12">
            <pre class="ft-higher__title">У вас остались вопросы?  Свяжитесь с нами:</pre>
        </div>
        <div class="col-4 ft-higher__item">
            <img class="ft-higher__img" src="{% static 'img/fbcall.svg' %}" alt="">
            <p class="ft-higher__text">Контакты</p>
        </div>
        <div class="col-4 ft-higher__item">
            <img class="ft-higher__img" src="{% static 'img/fbmail.svg' %}" alt="">
            <p class="ft-higher__text">Обратная связь</p>
        </div>
        <div class="col-4 ft-higher__item">
            <img class="ft-higher__img" src="{% static 'img/fbnet.svg' %}" alt="">
            <p class="ft-higher__text">Мы в соцсетях</p>
        </div>
    </div>
    <div class="row ft-lower lower-bg">
            <div class="col-3 lower-bg__first"></div>
            <div class="col-3 lower-bg__second"></div>
            <div class="col-3 lower-bg__third"></div>
            <div class="col-3 lower-bg__fourth"></div>
    </div>
</div>