{% load static %}
<div class="container-fluid header">
    <div class="row header__wrapper">
        <div class="col-6">
            <div class="row">
                <img src="{% static 'img/logo.svg' %}" alt="" class="header__logo">
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <nav class="menu__nav">
                    <ul class="menu__ul centered-elements">
                        <li class="centered-elements__element">
                            <a href="#" class="menu__link">
                                <p>Услуги</p>
                            </a>
                        </li>
                        <li class="centered-elements__element">
                            <a href="#" class="menu__link">
                                <p>Магазин</p>
                            </a>
                        </li>
                        <li class="centered-elements__element">
                            <a href="#" class="menu__link">
                                <p>Портфолио</p>
                            </a>
                        </li>
                        <li class="centered-elements__element">
                            <a href="#" class="menu__link">
                                <p>О нас</p>
                            </a>
                        </li>
                        <li class="centered-elements__element">
                            <a href="#" class="menu__link">
                                <p>Контакты</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>