.main-window {
  height: 100vh;
  background: url("../img/bg.jpg") center;
  background-size: cover;
  &__title {
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 88px;
    color: @white;
  }
  &__ticker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 130px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: @white;
    font-size: 40px;
  }
}