{% extends 'wrapper.html' %}
{% load static %}
{% block title %}AGADO - Главная{% endblock %}

{% block content %}
<header>
    {% include 'header.html' %}
</header>
<main>
    <div class="container-fluid">
        <div class="row mainwindow">
            <h1 class="title">СТУДИЯ ДИЗАЙНА</h1>
            <div class="col-12 ticker__wrap">
                <p class="ticker__text ticker__text_curr text-center" id="ticker1" data-ticker="#ticker2">Мы делаем
                    маркетинг доступным для вас</p>
                <p class="ticker__text ticker__text_next text-center" id="ticker2" data-ticker="#ticker3">Мы делаем вкусный дизайн</p>
                <p class="ticker__text ticker__text_prev text-center" id="ticker3" data-ticker="#ticker1">Мы делаем продающие макеты</p>
            </div>
            <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow__img" id="arrow">
            <div class="contacts">
                <ul class="social__ul centered-elements">
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont insta.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont vib.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont tg.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont whatsapp.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont vk.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont fb.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont tw.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                </ul>
                <div class="centered-elements">
                    <p class="contacts__text contacts__text_phone centered-elements__element">+375 29 721 50 60</p>
                    <p class="contacts__text contacts__text_mail centered-elements__element">info@agado.by</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>
{% endblock %}