{% extends 'wrapper.html' %}
{% load static %}
{% block title %}AGADO - Главная{% endblock %}

{% block content %}
<!--<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img class="logo" src="{% static 'img/logo.svg' %}" alt="">
            </div>
            <div class="col-6">
                <nav>
                    <ul>
                        <li>Услуги
                        <li>Магазин
                        <li>Портфолио
                        <li>О нас
                        <li>Контакты
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>-->
<main>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center main-window">
            <div class="col-12">
                <h1 class="text-center main-window__title">СТУДИЯ ДИЗАЙНА</h1>
<!--                <p class="main-window__ticker text-center">Мы делаем маркетинг доступным для вас</p>-->
                <p class="main-window__ticker text-center">Мы делаем вкусный дизайн</p>
<!--                <p class="main-window__ticker text-center">Мы делаем продающие макеты</p>-->
            </div>
        </div>
    </div>
</main>
<footer></footer>
{% endblock %}