{% extends 'wrapper.html' %}
{% load static %}
{% block title %}AGADO - Главная{% endblock %}

{% block content %}
<header>
    {% include 'header.html' %}
</header>
<main>
    <div class="container-fluid">
        <div class="row mainwindow">
            <h1 class="title">СТУДИЯ ДИЗАЙНА</h1>
            <div class="col-12 ticker__wrap">
                <p class="ticker__text ticker__text_curr text-center" id="ticker1" data-ticker="#ticker2">Мы делаем
                    маркетинг доступным для вас</p>
                <p class="ticker__text ticker__text_next text-center" id="ticker2" data-ticker="#ticker3">Мы делаем
                    вкусный дизайн</p>
                <p class="ticker__text ticker__text_prev text-center" id="ticker3" data-ticker="#ticker1">Мы делаем
                    продающие макеты</p>
            </div>
            <a href="#second-window">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 94 120" width="94" height="120"
                     class="arrow__img">
                    <g>
                        <polyline class="st_main" points="90.83,72.54 46.83,116.54 2.83,72.54 	"/>
                        <polyline class="st_1" points="84.23,2.83 46.83,40.23 9.43,2.83 	"/>
                        <polyline class="st_2" points="84.23,26.76 46.83,64.16 9.43,26.76 	"/>
                        <polyline class="st_3" points="84.23,50.68 46.83,88.08 9.43,50.68 	"/>
                    </g>
                </svg>
            </a>
            <div class="contacts">
                <ul class="social__ul centered-elements">
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont insta.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont vib.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont tg.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont whatsapp.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont vk.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont fb.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__li centered-elements__element">
                        <a href="#" class="social__link">
                            <img src="{% static 'img/cont tw.svg' %}" alt="" class="social__img">
                        </a>
                    </li>
                </ul>
                <div class="centered-elements">
                    <p class="contacts__text contacts__text_phone centered-elements__element">+375 29 721 50 60</p>
                    <p class="contacts__text_hidden">+375297215060</p>
                    <p class="contacts__text contacts__text_mail centered-elements__element">info@agado.by</p>
                </div>
            </div>
        </div>
        <div class="row second-window" id="second-window">
            <div class="col-3 design-3d">
                <p class="design-3d__title">3D ДИЗАЙН</p>
                <p class="design-3d__text">Разрабатываем трёхмерные модели любой сложности и класса. Над моделями
                    работают квалифицированные профессионалы со стажем работы в сфере 3D дизайна, ювелирного дела,
                    литья, ЧПУ более 6 лет. Разработка ведётся по любому чертежу, эскизу, техническому заданию или
                    просто по вашим пожеланиям. Вы получаете на выходе любой переносимый формат 3D графики: STL,
                    3DS, OBJ, MAX, 3DM, DXF, FBX.</p>
                <img src="{% static 'img/mesh.png' %}" alt="" class="design-3d__mesh design-3d__mesh_hidden">
                <img src="{% static 'img/cube.png' %}" alt="" class="design-3d__cube design-3d__cube_hidden">
            </div>
            <div class="col-9 what-we-make">
                <div class="what-we-make__blur col-1">
                    <p class="what-we-make__title">МЫ СДЕЛАЕМ ДЛЯ ВАС</p>
                    <div class="service">
                        <img src="{% static 'img/CNC.svg' %}" alt="" class="service__img">
                        <p class="service__title">ЧПУ</p>
                        <p class="service__text">Подготовка числового программного управления для 3-х, 4-х, 5-ти осного
                            станка, поворотной фрезы и токарно-фрезерного станка по дереву, металлу и воску. Разработка
                            CAD (САПР) моделей.</p>
                    </div>
                    <div class="service">
                        <img src="{% static 'img/jewel.svg' %}" alt="" class="service__img">
                        <p class="service__title">Ювелирные изделия</p>
                        <p class="service__text">Разработка трёхмерных моделей для фрезеровки по воску или печати на 3D
                            принтере. Рассчёт точного веса и объёма будущего изделия, подготовка модели для литья:
                            литники, крапаны, поддержки, перемычки.</p>
                    </div>
                    <div class="service">
                        <img src="{% static 'img/inter.svg' %}" alt="" class="service__img">
                        <p class="service__title">Интерьеры</p>
                        <p class="service__text">Проектирование интерьера квартиры, дома или коттеджа. Визуализация
                            будущего дизайна. Подбор и расчёт материалов.</p>
                    </div>
                    <div class="service">
                        <img src="{% static 'img/print.svg' %}" alt="" class="service__img">
                        <p class="service__title">Чертежи</p>
                        <p class="service__text">Подготовка чертежей в двухмерном или трёхмерном виде в CAD (САПР)
                            программах для последующей реализации изделий. Вычисление размеров, объёма, веса,
                            распределения нагрузок, прочности.</p>
                    </div>
                    <div class="service service_last">
                        <img src="{% static 'img/game.svg' %}" alt="" class="service__img">
                        <p class="service__title">Игры</p>
                        <p class="service__text">Разработка моделей для игр. Топология разработанная с нуля (Low Poly,
                            Mid Poly) оптимизация сетки для быстрого рендеринга вписанная в ограничения по вершинам,
                            полигонам. Подготовка уровней детализации (ЛОД), развёртки координат модели и отрисовка
                            качественных текстур по этим координатам, ригинг, запекание текстур.</p>
                    </div>
                </div>
                <p class="what-we-make__text">РЕНДЕР ТРЁХМЕРНОЙ МОДЕЛИ АВТОМОБИЛЯ MAZDA RX-8</p>
            </div>
        </div>
        <div class="row third-window">
            <div class="col-6">
                <img class="owl__dots" src="{% static 'img/dots_main.png' %}" alt="">
                <img src="{% static 'img/owl.png' %}" alt="" class="owl__img">
                <img class="owl__pen" src="{% static 'img/pen.svg' %}" alt="">
            </div>
            <div class="col-6">
                <img src="{% static 'img/dots_text.png' %}" alt="" class="graph-design__dots">
                <svg class="graph-design__border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 618 85">
                    <style type="text/css">
	                    .st0{fill:url(#SVGID_1_);}
                    </style>
                    <g>
	                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="42.5" x2="618" y2="42.5">
		                    <stop  offset="0" style="stop-color:#5CFF60"/>
		                    <stop  offset="1" style="stop-color:#DBFF69"/>
	                    </linearGradient>
	                    <path class="st0" d="M615,3v79H3V3H615 M618,0H0v85h618V0L618,0z"/>
                    </g>
                </svg>
                <p class="graph-design__text">ГРАФИЧЕСКИЙ ДИЗАЙН</p>
                <div class="graph-design-list">
                    <div class="row graph-design-list__row">
                        <div class="col-6 graph-design-list__item_left">
                            <img src="{% static 'img/brand.svg' %}" alt="" class="graph-design-list__img">
                            <p class="graph-design-list__title">Брендинг</p>
                            <p class="graph-design-list__text">Разработка айдентики для фирм. Лого, сайт, печатные носители, сувенирная продукция, оформление маркетинговых мероприятий. Также возможна разработка брендбуков, логобуков, их ведение, оформление и подготовка к печати.</p>
                        </div>
                        <div class="col-6 graph-design-list__item_right">
                            <img src="{% static 'img/illust.svg' %}" alt="" class="graph-design-list__img">
                            <p class="graph-design-list__title">Иллюстрации</p>
                            <p class="graph-design-list__text">Разработка уникальных векторных иллюстраций по техническому заданию или эскизу. Оптимизация кривых вектора, цветовых палитр, слоёв, групп объектов.</p>
                        </div>
                    </div>
                    <div class="row graph-design-list__row">
                        <div class="col-6 graph-design-list__item_left">
                            <img src="{% static 'img/uxui.svg' %}" alt="" class="graph-design-list__img">
                            <p class="graph-design-list__title">UX/UI</p>
                            <p class="graph-design-list__text">Разработка пользовательского интерфейса, анализ сценариев взаимодействия. Разработка мобильных приложений. Организация элементов для наиболее понятного восприятия и взаимодействия конечным пользователем.</p>
                        </div>
                        <div class="col-6 graph-design-list__item_right">
                            <img src="{% static 'img/site.svg' %}" alt="" class="graph-design-list__img">
                            <p class="graph-design-list__title">Сайты</p>
                            <p class="graph-design-list__text">Разработка дизайна для сайтов. Адаптация для веб, подготовка мобильных версий сайта. Анализ аудитории и создание на основе полученных данных клиентоориентированного макета сайта.</p>
                        </div>
                    </div>
                    <div class="row graph-design-list__row">
                        <div class="col-6 graph-design-list__item_left">
                            <img src="{% static 'img/layout.svg' %}" alt="" class="graph-design-list__img">
                            <p class="graph-design-list__title">Вёрстка</p>
                            <p class="graph-design-list__text">Разработка журналов, книг, брошюр, листовок. Грамотная подготовка к тиражированию и печати.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
{% endblock %}